/* .onselect{
margin-left: 500px;
margin-top: -400px;
  } */
.onselect h2{
    color: rgb(71, 85, 85);
    left: 40px;
}
li.selected{
    color: aqua;
}
li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;

    height: 1.6em;
    border-radius: 4px;
  }
  .heroes {
    position: relative;
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }